.Shcontainer {
  display: grid;
grid-template-columns: 30% 60% 10%;
  height: 100vh;
  padding-top: 3rem;
  
}
.Shcontainer>div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.Shmain {
  width: 45rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.Shmain > div {
  border-bottom: 4px solid #d6d6d6;
}
.middle,
.bottom {
  text-align: left;
}
.middle h2,
.bottom h2 {
  margin-left: 2rem;
}
.middle .lower,
.bottom .lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 2rem;
}

.Shmain .top h3,
.middle .lower .left,
.bottom .lower .left {
  color: #868686;
}

.middle .lower .right,
.bottom .lower .right {
  text-align: right;
}

.top {
  text-align: center;
}
